<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.sapizon.instavr.test.T017_Test_Upload_image_Verify_Actions"/>
      <class name="com.sapizon.instavr.test.T004_Test_Verify_Preview"/>
      <class name="com.sapizon.instavr.test.T010_Test_Upload_image_verify_offset"/>
      <class name="com.sapizon.instavr.test.T003_Test_Verify_Branding"/>
      <class name="com.sapizon.instavr.test.T008_Test_Managing_Sences"/>
      <class name="com.sapizon.instavr.test.T001_Test_LoginTest"/>
      <class name="com.sapizon.instavr.test.T007_Test_Click_Authoring_Add_VR_Contents"/>
      <class name="com.sapizon.instavr.test.T015_Test_Upload_image_Select_image_add_link"/>
      <class name="com.sapizon.instavr.test.T006_Test_Verify_Downlod"/>
      <class name="com.sapizon.instavr.test.T005_Test_Verify_Package"/>
      <class name="com.sapizon.instavr.test.T011_Test_Login_Invalid_Password"/>
      <class name="com.sapizon.instavr.test.T014_Test_Upload_video"/>
      <class name="com.sapizon.instavr.test.T002_Test_Verify_Authoring"/>
      <class name="com.sapizon.instavr.test.T012_Test_Login_Blank_password"/>
      <class name="com.sapizon.instavr.test.T016_Upload_Image_Verify_Hotspot"/>
      <class name="com.sapizon.instavr.test.T013_Test_Upload_image"/>
      <class name="com.sapizon.instavr.test.T009_Test_Select_Sence_Add_Link"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
